In [10]:
# Import our dependencies
import pandas as pd
from pathlib import Path
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
import pandas as pd
# import tensorflow as tf

In [11]:
pop = Path("Resources/most-popular.csv")
pop_df = pd.read_csv(pop)
pop_df.head()

,category,rank,show_title,season_title,hours_viewed_first_91_days,runtime,views_first_91_days
0,Films (English),1,Red Notice,NaN,454200000,1.9667,230900000
1,Films (English),2,Don't Look Up,NaN,408600000,2.3833,171400000
2,Films (English),3,The Adam Project,NaN,281000000,1.7833,157600000
3,Films (English),4,Bird Box,NaN,325300000,2.0667,157400000
4,Films (English),5,The Gray Man,NaN,299500000,2.1500,139300000

In [12]:
filt_pop = pop_df[pop_df['category'] == 'TV (English)']
filt_pop.head()

,category,rank,show_title,season_title,hours_viewed_first_91_days,runtime,views_first_91_days
20,TV (English),1,Wednesday,Wednesday: Season 1,1718800000,6.8167,252100000
21,TV (English),2,Stranger Things,Stranger Things 4,1838000000,13.0667,140700000
22,TV (English),3,DAHMER,DAHMER: Monster: The Jeffrey Dahmer Story,1031100000,8.9167,115600000
23,TV (English),4,Bridgerton,Bridgerton: Season 1,929300000,8.2000,113300000
24,TV (English),5,The Queen's Gambit,The Queen's Gambit: Limited Series,746400000,6.6167,112800000

In [13]:
# country = Path("Resources/all-weeks-countries.csv")
# country_df = pd.read_csv(country, encoding='latin1')
# country_df.head()

In [14]:
# filt_country = country_df[country_df['category'] == 'TV (English)']
# filt_country

In [15]:
wks_global = Path("Resources/all-weeks-global.csv")
wks_global_df = pd.read_csv(wks_global, encoding='latin1')
wks_global_df.head()

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
0,2023-12-17,Films (English),1,Leave the World Behind,NaN,106200000,2.3667,44900000.0,2,False,NaN
1,2023-12-17,Films (English),2,Chicken Run: Dawn of the Nugget,NaN,20300000,1.7000,11900000.0,1,False,NaN
2,2023-12-17,Films (English),3,Leo,NaN,16800000,1.7833,9400000.0,4,False,NaN
3,2023-12-17,Films (English),4,Family Switch,NaN,16600000,1.7667,9400000.0,3,False,NaN
4,2023-12-17,Films (English),5,The Super Mario Bros. Movie,NaN,13700000,1.5333,8900000.0,3,False,NaN

In [16]:
# filt_global = wks_global_df[wks_global_df['category'] == 'TV (English)']
filt_global = wks_global_df[wks_global_df['category'] == 'Films (English)']
# filt_global = wks_global_df.drop(['season_title', 'is_staggered_launch', 'episode_launch_details'])
filt_global

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
0,2023-12-17,Films (English),1,Leave the World Behind,NaN,106200000,2.3667,44900000.0,2,False,NaN
1,2023-12-17,Films (English),2,Chicken Run: Dawn of the Nugget,NaN,20300000,1.7000,11900000.0,1,False,NaN
2,2023-12-17,Films (English),3,Leo,NaN,16800000,1.7833,9400000.0,4,False,NaN
3,2023-12-17,Films (English),4,Family Switch,NaN,16600000,1.7667,9400000.0,3,False,NaN
4,2023-12-17,Films (English),5,The Super Mario Bros. Movie,NaN,13700000,1.5333,8900000.0,3,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5125,2021-07-04,Films (English),6,Kung Fu Panda 3,NaN,7690000,NaN,NaN,1,False,NaN
5126,2021-07-04,Films (English),7,Warcraft,NaN,7650000,NaN,NaN,1,False,NaN
5127,2021-07-04,Films (English),8,Fatale,NaN,6460000,NaN,NaN,1,False,NaN
5128,2021-07-04,Films (English),9,Skylines,NaN,6130000,NaN,NaN,1,False,NaN
5129,2021-07-04,Films (English),10,The Mitchells vs. The Machines,NaN,4890000,NaN,NaN,1,False,NaN

In [17]:
#Loading the IMDb movie data CSV file
imdb = Path("Resources/imdb_movie_data_2023.csv")
imdb_df = pd.read_csv(imdb, index_col=0)
imdb_df.head()

,Moive Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes

In [18]:
#final csv file
final = Path("Resources/final_combined_data.csv")
final_df = pd.read_csv(final, index_col=0)
final_df.head()

,movie_name,rating,votes,meta_score,genre0,genre1,genre2,genre3,pr_rating,year,...,cast1,cast2,cast3,cast4,director,number_rating,weekly_rank,weekly_hours_viewed,weekly_views,cumulative_weeks_in_top_10
row_id,,,,,,,,,,,,,,,,,,,,,
506,1917,8.2,654000.0,78,"Action, Drama, War",Action,Drama,War,R,2019,...,Dean-Charles Chapman,George MacKay,Daniel Mays,Colin Firth,Sam Mendes,4,7,10840000,NaN,1
1356,21 Jump Street,7.2,589000.0,69,"Action, Comedy, Crime",Action,Comedy,Crime,R,2012,...,Jonah Hill,Channing Tatum,Ice Cube,Brie Larson,Phil LordChristopher Miller,4,6,11690000,NaN,1
1698,6 Underground,6.1,192000.0,41,"Action, Thriller",Action,Thriller,NaN,R,2019,...,Ryan Reynolds,Mélanie Laurent,Manuel Garcia-Rulfo,Ben Hardy,Michael Bay,4,5,8730000,NaN,3
1698,6 Underground,6.1,192000.0,41,"Action, Thriller",Action,Thriller,NaN,R,2019,...,Ryan Reynolds,Mélanie Laurent,Manuel Garcia-Rulfo,Ben Hardy,Michael Bay,4,7,7440000,NaN,2
1698,6 Underground,6.1,192000.0,41,"Action, Thriller",Action,Thriller,NaN,R,2019,...,Ryan Reynolds,Mélanie Laurent,Manuel Garcia-Rulfo,Ben Hardy,Michael Bay,4,9,7770000,NaN,1

### Final csv file

In [19]:
path = Path("Resources/final_combined_data_no_rank.csv")
df = pd.read_csv(path)
df

,row_id,movie_name,rating,votes,meta_score,genre0,genre1,genre2,genre3,pr_rating,...,cast0,cast1,cast2,cast3,cast4,director,number_rating,netflix_top_10,weekly_hours_viewed,weekly_views
0,0,Leave the World Behind,6.5,90000.0,67,"Drama, Mystery, Thriller",Drama,Mystery,Thriller,R,...,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Julia Roberts,Mahershala Ali,Ethan Hawke,Myha'la,Sam Esmail,4,1,98700000.0,41700000.0
1,16,Family Switch,5.6,16000.0,37,"Comedy, Family",Comedy,Family,NaN,PG,...,"Jennifer Garner, Ed Helms, Emma Myers, Brady Noon",Jennifer Garner,Ed Helms,Emma Myers,Brady Noon,McG,2,1,39200000.0,22200000.0
2,19,How the Grinch Stole Christmas,6.3,280000.0,46,"Comedy, Family, Fantasy",Comedy,Family,Fantasy,PG,...,"Jim Carrey, Taylor Momsen, Kelley, Jeffrey Tambor",Jim Carrey,Taylor Momsen,Kelley,Jeffrey Tambor,Ron Howard,2,1,7530000.0,NaN
3,23,Leo,7.0,21000.0,65,"Animation, Comedy, Family",Animation,Comedy,Family,PG,...,"Adam Sandler, Bill Burr, Cecily Strong, Jason ...",Adam Sandler,Bill Burr,Cecily Strong,Jason Alexander,Robert MarianettiRobert SmigelDavid Wachtenheim,2,1,61700000.0,34600000.0
4,27,Chicken Run: Dawn of the Nugget,6.5,6300.0,63,"Animation, Adventure, Comedy",Animation,Adventure,Comedy,PG,...,"Thandiwe Newton, Zachary Levi, Bella Ramsey, I...",Thandiwe Newton,Zachary Levi,Bella Ramsey,Imelda Staunton,Sam Fell,2,1,20300000.0,11900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1729,1943,Transformers: Age of Extinction,5.6,328000.0,32,"Action, Adventure, Sci-Fi",Action,Adventure,Sci-Fi,PG-13,...,"Mark Wahlberg, Nicola Peltz Beckham, Jack Reyn...",Mark Wahlberg,Nicola Peltz Beckham,Jack Reynor,Stanley Tucci,Michael Bay,3,0,NaN,NaN
1730,1944,Annette,6.3,22000.0,67,"Drama, Musical, Romance",Drama,Musical,Romance,R,...,"Adam Driver, Marion Cotillard, Simon Helberg, ...",Adam Driver,Marion Cotillard,Simon Helberg,Devyn McDowell,Leos Carax,4,0,NaN,NaN
1731,1945,"Definitely, Maybe",7.1,172000.0,59,"Comedy, Drama, Romance",Comedy,Drama,Romance,PG-13,...,"Ryan Reynolds, Rachel Weisz, Abigail Breslin, ...",Ryan Reynolds,Rachel Weisz,Abigail Breslin,An Nguyen,Adam Brooks,3,0,NaN,NaN
1732,1946,The Fly,7.6,198000.0,79,"Drama, Horror, Sci-Fi",Drama,Horror,Sci-Fi,R,...,"Jeff Goldblum, Geena Davis, John Getz, Joy Bou...",Jeff Goldblum,Geena Davis,John Getz,Joy Boushel,David Cronenberg,4,0,NaN,NaN
1733,1947,The Mighty Ducks,6.5,71000.0,46,"Comedy, Drama, Family",Comedy,Drama,Family,PG,...,"Emilio Estevez, Joss Ackland, Lane Smith, Heid...",Emilio Estevez,Joss Ackland,Lane Smith,Heidi Kling,Stephen Herek,2,0,NaN,NaN