In [1]:
# Import our dependencies
import pandas as pd
from pathlib import Path
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
import pandas as pd
# import tensorflow as tf

In [2]:
pop = Path("Resources/most-popular.csv")
pop_df = pd.read_csv(pop)
pop_df.head()

,category,rank,show_title,season_title,hours_viewed_first_91_days,runtime,views_first_91_days
0,Films (English),1,Red Notice,NaN,454200000,1.9667,230900000
1,Films (English),2,Don't Look Up,NaN,408600000,2.3833,171400000
2,Films (English),3,The Adam Project,NaN,281000000,1.7833,157600000
3,Films (English),4,Bird Box,NaN,325300000,2.0667,157400000
4,Films (English),5,The Gray Man,NaN,299500000,2.1500,139300000

In [3]:
filt_pop = pop_df[pop_df['category'] == 'TV (English)']
filt_pop.head()

,category,rank,show_title,season_title,hours_viewed_first_91_days,runtime,views_first_91_days
20,TV (English),1,Wednesday,Wednesday: Season 1,1718800000,6.8167,252100000
21,TV (English),2,Stranger Things,Stranger Things 4,1838000000,13.0667,140700000
22,TV (English),3,DAHMER,DAHMER: Monster: The Jeffrey Dahmer Story,1031100000,8.9167,115600000
23,TV (English),4,Bridgerton,Bridgerton: Season 1,929300000,8.2000,113300000
24,TV (English),5,The Queen's Gambit,The Queen's Gambit: Limited Series,746400000,6.6167,112800000

In [4]:
country = Path("Resources/all-weeks-countries.csv")
country_df = pd.read_csv(country, encoding='latin1')
country_df.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2023-12-17,Films,1,Leave the World Behind,NaN,2
1,Argentina,AR,2023-12-17,Films,2,El Amor Menos Pensado,NaN,1
2,Argentina,AR,2023-12-17,Films,3,Old,NaN,1
3,Argentina,AR,2023-12-17,Films,4,The Lost City,NaN,1
4,Argentina,AR,2023-12-17,Films,5,Women on the Edge,NaN,3

In [5]:
filt_country = country_df[country_df['category'] == 'TV (English)']
filt_country

Empty DataFrame
Columns: [country_name, country_iso2, week, category, weekly_rank, show_title, season_title, cumulative_weeks_in_top_10]
Index: []

In [6]:
wks_global = Path("Resources/all-weeks-global.csv")
wks_global_df = pd.read_csv(wks_global, encoding='latin1')
wks_global_df

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
0,2023-12-17,Films (English),1,Leave the World Behind,NaN,106200000,2.3667,44900000.0,2,False,NaN
1,2023-12-17,Films (English),2,Chicken Run: Dawn of the Nugget,NaN,20300000,1.7000,11900000.0,1,False,NaN
2,2023-12-17,Films (English),3,Leo,NaN,16800000,1.7833,9400000.0,4,False,NaN
3,2023-12-17,Films (English),4,Family Switch,NaN,16600000,1.7667,9400000.0,3,False,NaN
4,2023-12-17,Films (English),5,The Super Mario Bros. Movie,NaN,13700000,1.5333,8900000.0,3,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5155,2021-07-04,TV (Non-English),6,Elite,Elite: Season 1,10530000,NaN,NaN,1,False,NaN
5156,2021-07-04,TV (Non-English),7,Elite,Elite: Season 3,10200000,NaN,NaN,1,False,NaN
5157,2021-07-04,TV (Non-English),8,Elite,Elite: Season 2,10140000,NaN,NaN,1,False,NaN
5158,2021-07-04,TV (Non-English),9,Katla,Katla: Season 1,9190000,NaN,NaN,1,False,NaN
5159,2021-07-04,TV (Non-English),10,Record of Ragnarok,Record of Ragnarok: Season 1,9140000,NaN,NaN,1,False,NaN

In [7]:
# filt_global = wks_global_df[wks_global_df['category'] == 'TV (English)']
filt_global = wks_global_df[wks_global_df['category'] == 'Films (English)']
# filt_global = wks_global_df.drop(['season_title', 'is_staggered_launch', 'episode_launch_details'])
filt_global

#save into a new csv
# filt_global.to_csv('filtered_global_data.csv', index=False)

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
0,2023-12-17,Films (English),1,Leave the World Behind,NaN,106200000,2.3667,44900000.0,2,False,NaN
1,2023-12-17,Films (English),2,Chicken Run: Dawn of the Nugget,NaN,20300000,1.7000,11900000.0,1,False,NaN
2,2023-12-17,Films (English),3,Leo,NaN,16800000,1.7833,9400000.0,4,False,NaN
3,2023-12-17,Films (English),4,Family Switch,NaN,16600000,1.7667,9400000.0,3,False,NaN
4,2023-12-17,Films (English),5,The Super Mario Bros. Movie,NaN,13700000,1.5333,8900000.0,3,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5125,2021-07-04,Films (English),6,Kung Fu Panda 3,NaN,7690000,NaN,NaN,1,False,NaN
5126,2021-07-04,Films (English),7,Warcraft,NaN,7650000,NaN,NaN,1,False,NaN
5127,2021-07-04,Films (English),8,Fatale,NaN,6460000,NaN,NaN,1,False,NaN
5128,2021-07-04,Films (English),9,Skylines,NaN,6130000,NaN,NaN,1,False,NaN
5129,2021-07-04,Films (English),10,The Mitchells vs. The Machines,NaN,4890000,NaN,NaN,1,False,NaN

In [8]:
#renaming runtime to duration
wkly_global = filt_global.rename(columns={'runtime': 'Duration'})
wkly_global

#save into a new csv
# wkly_global.to_csv('filtered_global_data.csv', index=False)

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,Duration,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
0,2023-12-17,Films (English),1,Leave the World Behind,NaN,106200000,2.3667,44900000.0,2,False,NaN
1,2023-12-17,Films (English),2,Chicken Run: Dawn of the Nugget,NaN,20300000,1.7000,11900000.0,1,False,NaN
2,2023-12-17,Films (English),3,Leo,NaN,16800000,1.7833,9400000.0,4,False,NaN
3,2023-12-17,Films (English),4,Family Switch,NaN,16600000,1.7667,9400000.0,3,False,NaN
4,2023-12-17,Films (English),5,The Super Mario Bros. Movie,NaN,13700000,1.5333,8900000.0,3,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5125,2021-07-04,Films (English),6,Kung Fu Panda 3,NaN,7690000,NaN,NaN,1,False,NaN
5126,2021-07-04,Films (English),7,Warcraft,NaN,7650000,NaN,NaN,1,False,NaN
5127,2021-07-04,Films (English),8,Fatale,NaN,6460000,NaN,NaN,1,False,NaN
5128,2021-07-04,Films (English),9,Skylines,NaN,6130000,NaN,NaN,1,False,NaN
5129,2021-07-04,Films (English),10,The Mitchells vs. The Machines,NaN,4890000,NaN,NaN,1,False,NaN

In [9]:
#Loading the IMDb movie data CSV file
imdb = Path("Resources/imdb_movie_data_2023.csv")
imdb_df = pd.read_csv(imdb, index_col=0)
imdb_df.head()

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes

In [10]:
#combined data
combo = Path("Resources/combined_data_view.csv")
combo_df = pd.read_csv(combo, index_col=0)
combo_df.head()

,movie_name,rating,votes,meta_score,genre0,genre1,genre2,genre3,pr_rating,year,...,cast2,cast3,cast4,director,number_rating,weekly_rank,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10
row_id,,,,,,,,,,,,,,,,,,,,,
506,1917,8.2,654000.0,78.0,"Action, Drama, War",Action,Drama,War,R,2019,...,George MacKay,Daniel Mays,Colin Firth,Sam Mendes,4.0,7,10840000,NaN,NaN,1
1356,21 Jump Street,7.2,589000.0,69.0,"Action, Comedy, Crime",Action,Comedy,Crime,R,2012,...,Channing Tatum,Ice Cube,Brie Larson,Phil LordChristopher Miller,4.0,6,11690000,NaN,NaN,1
1698,6 Underground,6.1,192000.0,41.0,"Action, Thriller",Action,Thriller,NaN,R,2019,...,Mélanie Laurent,Manuel Garcia-Rulfo,Ben Hardy,Michael Bay,4.0,5,8730000,NaN,NaN,3
1698,6 Underground,6.1,192000.0,41.0,"Action, Thriller",Action,Thriller,NaN,R,2019,...,Mélanie Laurent,Manuel Garcia-Rulfo,Ben Hardy,Michael Bay,4.0,7,7440000,NaN,NaN,2
1698,6 Underground,6.1,192000.0,41.0,"Action, Thriller",Action,Thriller,NaN,R,2019,...,Mélanie Laurent,Manuel Garcia-Rulfo,Ben Hardy,Michael Bay,4.0,9,7770000,NaN,NaN,1

### use the v2 and netflix global csv files

In [11]:
# convert duration format into decimal
# imdb_df['Duration_Decimal'] = imdb_df['Duration'].apply(lambda x: int(x.split('h')[0]) + int(x.split('h')[1].split('m')[0].strip()) / 60)
# imdb_df.head()

In [12]:
imdb_df.rename(columns={"Duration": "Prime_Duration"}, inplace=True)
imdb_df.head()

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Prime_Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes

In [13]:
# convert the duration column into decimal format
def duration_to_decimal(x):
    try:
        # Default values
        hours = 0
        minutes = 0

        # Only parse if value is a string
        if isinstance(x, str):
            if 'h' in x:
                hours = int(x.split('h')[0].strip())
            if 'm' in x:
                minutes = int(x.split('h')[1].split('m')[0].strip()) if 'h' in x else int(x.split('m')[0].strip())

        return round(hours + minutes / 60, 4)
    except Exception as e:
        return None  # Or np.nan

imdb_df['Duration'] = imdb_df['Prime_Duration'].apply(duration_to_decimal)
imdb_df.head()

# save df into a csv fiile
# imdb_df.to_csv('updated_imdb_data.csv', index=False)

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Prime_Duration,Cast,Director,Duration
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail,2.3000
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King,1.9333
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos,2.3500
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese,3.4333
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes,1.9500

In [14]:
# merging the two datasets: imdb and netflix filtered wkly global
# Merge DataFrames
merged_df = pd.merge(wkly_global, imdb_df, on='Duration', how='outer')
merged_df.head()

#save df
# merged_df.to_csv('merged_data.csv', index=False)

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,Duration,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,...,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Prime_Duration,Cast,Director
0,2023-12-17,Films (English),1.0,Leave the World Behind,NaN,106200000.0,2.3667,44900000.0,2.0,False,...,The Hunger Games,7.2,982000.0,68.0,"Action, Adventure, Sci-Fi",PG-13,2012.0,2h 22m,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",Gary Ross
1,2023-12-17,Films (English),1.0,Leave the World Behind,NaN,106200000.0,2.3667,44900000.0,2.0,False,...,The Shawshank Redemption,9.3,2800000.0,82.0,Drama,R,1994.0,2h 22m,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont
2,2023-12-17,Films (English),1.0,Leave the World Behind,NaN,106200000.0,2.3667,44900000.0,2.0,False,...,Forrest Gump,8.8,2200000.0,82.0,"Drama, Romance",PG-13,1994.0,2h 22m,"Tom Hanks, Robin Wright, Gary Sinise, Sally Field",Robert Zemeckis
3,2023-12-17,Films (English),1.0,Leave the World Behind,NaN,106200000.0,2.3667,44900000.0,2.0,False,...,Harry Potter and the Prisoner of Azkaban,7.9,676000.0,82.0,"Adventure, Family, Fantasy",PG,2004.0,2h 22m,"Daniel Radcliffe, Emma Watson, Rupert Grint, R...",Alfonso Cuarón
4,2023-12-17,Films (English),1.0,Leave the World Behind,NaN,106200000.0,2.3667,44900000.0,2.0,False,...,Hook,6.8,269000.0,52.0,"Adventure, Comedy, Family",PG,1991.0,2h 22m,"Dustin Hoffman, Robin Williams, Julia Roberts,...",Steven Spielberg

In [15]:
cleaned_data = merged_df.drop(columns=['category', 'season_title', 'is_staggered_launch', 'episode_launch_details', 'Prime_Duration'])
cleaned_data.head()

,week,weekly_rank,show_title,weekly_hours_viewed,Duration,weekly_views,cumulative_weeks_in_top_10,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Cast,Director
0,2023-12-17,1.0,Leave the World Behind,106200000.0,2.3667,44900000.0,2.0,The Hunger Games,7.2,982000.0,68.0,"Action, Adventure, Sci-Fi",PG-13,2012.0,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",Gary Ross
1,2023-12-17,1.0,Leave the World Behind,106200000.0,2.3667,44900000.0,2.0,The Shawshank Redemption,9.3,2800000.0,82.0,Drama,R,1994.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont
2,2023-12-17,1.0,Leave the World Behind,106200000.0,2.3667,44900000.0,2.0,Forrest Gump,8.8,2200000.0,82.0,"Drama, Romance",PG-13,1994.0,"Tom Hanks, Robin Wright, Gary Sinise, Sally Field",Robert Zemeckis
3,2023-12-17,1.0,Leave the World Behind,106200000.0,2.3667,44900000.0,2.0,Harry Potter and the Prisoner of Azkaban,7.9,676000.0,82.0,"Adventure, Family, Fantasy",PG,2004.0,"Daniel Radcliffe, Emma Watson, Rupert Grint, R...",Alfonso Cuarón
4,2023-12-17,1.0,Leave the World Behind,106200000.0,2.3667,44900000.0,2.0,Hook,6.8,269000.0,52.0,"Adventure, Comedy, Family",PG,1991.0,"Dustin Hoffman, Robin Williams, Julia Roberts,...",Steven Spielberg

In [16]:
#iloc method
# cleaned = merged_df.loc[:, ['col1', 'col3']]